* {
  box-sizing: border-box;
}

.header-section {
  border: 1px solid red;
  height: 200px;
  background-image: url("/images/headerBackground.png");
}

.search-bar-section {
  border: 1px solid rebeccapurple;
  margin: 31px 0;
}

.search-bar-section img {
  width: 17px;
}

.main-section {
  border: 2px solid green;
}

/* images */
img {
  width: 100px;
  object-fit: cover;
}

.movie-container {
  background-color: aquamarine;
}

.plus-icon {
  border: 2px solid red;
  background-color: rgb(224, 130, 15);
  cursor: pointer;
  color: black;
  width: 53px;
}
