* {
  box-sizing: border-box;
}

.header-section {
  border: 1px solid red;
}

.search-bar-section {
  border: 1px solid rebeccapurple;
  margin: 31px 0;
}

.main-section {
  border: 2px solid green;
}
