/* DEFAULT STATE OF CONTAINER IN WHICH MOVIES WILL RENDER */

body {
  grid-template-rows: auto 1fr;
}

.empty-watchlist-text {
  align-self: end;
  color: #787878;
  font-size: 1.125rem;
  font-weight: 700;
  justify-self: center;
  line-height: 1.78125rem;
}

.movies-search-link {
  color: #fff;
  font-family: Inter;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.25rem;
  text-decoration: none;
}
